<div>
    <div id="cat-list" class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
        <mdl-card mdl-card-expand *ngFor="let picture of cats()" (click)="displayDetails(picture['.key'])" mdl-shadow="2">
          <mdl-card-title mdl-card-expand>
            <h2 mdl-card-title-text>{{ picture.comment }}</h2>
          </mdl-card-title>
          <mdl-card-media mdl-card-expand>
              <img src="{{ picture.url }}" />
          </mdl-card-media>
        </mdl-card>
      </div>
    </div>

    <a class="add-picture-button" routerLink="/post">
      <button mdl-button  mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
          <mdl-icon>add</mdl-icon>
      </button>
    </a>
</div>