<div class="app" mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
       <mdl-layout-header>
          <mdl-layout-header-row>
             <mdl-layout-title>{{ title }}</mdl-layout-title>
          </mdl-layout-header-row>
       </mdl-layout-header>
       <mdl-layout-drawer>
          <mdl-layout-title>{{ title }}</mdl-layout-title>
          <nav class="mdl-navigation">
             <a class="mdl-navigation__link" href="#/">Home</a>
             <a class="mdl-navigation__link" href="#/post">Post a picture</a>
          </nav>
       </mdl-layout-drawer>
       <mdl-layout-content>
          <!-- Your content goes here -->
          <cats></cats>
       </mdl-layout-content>
    </mdl-layout>
 </div>

